html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: SlateGrey;
}

#wrop {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 50%;
}

#black-box {
  padding-top: 1em;
  height: 50%;
  width: 125%;
  overflow: hidden;
}

.image-box {
  float: left;
  background: #CC0000;
  height: 90%;
  width: 30%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
}
