html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 50%;
}

#black-box {
  height: 50%;
  overflow: hidden;
}

.row {
  display: block;
  white-space: nowrap;
}

.row > img {
  vertical-align: top;
  margin-top: 2px;
  margin-right: 2px;
  width: 140px;
  height: 140px;
  display: inline;
}

.transition {
  transition: all 2s;
}

.fast {
  margin-top: 100%;
  transition: all 0.72s;
}

.hidden {
  margin-left: 110%;
}
